{% extends 'external/main.html' %}

{% block title %}Week {{ week }} Scoreboard {% if current_week %}(Current Week){% endif %} | Fantasy Football Predictor{% endblock %}

{% load staticfiles %}

{% block body %}
<style>
    .dropdown-menu {
        left: 50%;
        right: auto;
        text-align: center;
        transform: translate(-50%, 0);
    }
</style>
<aside class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Week {{ week }} Scoreboard {% if current_week %}(Current Week){% endif %}</h1>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdown" data-toggle="dropdown">
                        Previous Weeks
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdown">
                        {% for wk in past_weeks reversed %}
                            {% if forloop.first %}
                                <li><a href="/scoreboard/" class="loading-link">Week {{ wk }} (Current Week)</a></li>
                            {% else %}
                                <li><a href="/scoreboard/{{ wk }}/" class="loading-link">Week {{ wk }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</aside>
<aside class="call-to-action bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                {% for score in scores %}
                    <h3>{{ score }}</h3>
                {% endfor %}
            </div>
        </div>
    </div>
</aside>
{% endblock %}