{% extends 'external/main.html' %}

{% block title %}{{ title }} | Fantasy Football Predictor{% endblock %}

{% load staticfiles %}

{% block body %}
<aside class="call-to-action bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>{{ teamname }}</h1>
            </div>
        </div>
    </div>
</aside>
<aside class="about">
    <div class="container">
        <div class="row">
          <div class="col-lg-2"></div>
            <div class="col-lg-8 text-center">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="text-center">Player</th>
                      <th class="text-center">Position</th>
                      <th class="text-center">Points</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for name in qb %}
                      <tr>
                        <td>{{ name }}</td>
                        <td>QB</td>
                        <td id="points{{ forloop.counter }}" class="qb-points"></td>
                      </tr>
                    {% endfor %}
                    {% for name in rb %}
                      <tr>
                        <td>{{ name }}</td>
                        <td>RB</td>
                        <td id="points{{ forloop.counter }}" class="rb-points"></td>
                      </tr>
                    {% endfor %}
                    {% for name in wr %}
                      <tr>
                        <td>{{ name }}</td>
                        <td>WR</td>
                        <td id="points{{ forloop.counter }}" class="wr-points"></td>
                      </tr>
                    {% endfor %}
                    {% for name in te %}
                      <tr>
                        <td>{{ name }}</td>
                        <td>TE</td>
                        <td id="points{{ forloop.counter }}" class="te-points"></td>
                      </tr>
                    {% endfor %}
                    {% for name in k %}
                      <tr>
                        <td>{{ name }}</td>
                        <td>K</td>
                        <td id="points{{ forloop.counter }}" class="k-points"></td>
                      </tr>
                    {% endfor %}
                    {% for name in other %}
                      <tr>
                        <td>{{ name }}</td>
                        <td>None</td>
                        <td>0</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</aside>
{% endblock %}
{% block scriptarea %}
{% endblock %}